<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				<rule name="RewriteUserFriendlySearch" stopProcessing="true">
					<match url="^search$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="search.html" />
				</rule>

				<rule name="RewriteUserFriendlyNews" stopProcessing="true">
					<match url="^news$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="news.html" />
				</rule>

				<rule name="RewriteUserFriendlyAbout" stopProcessing="true">
					<match url="^about$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="about.html" />
				</rule>

				<rule name="RewriteUserFriendlyContacts" stopProcessing="true">
					<match url="^contacts$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="contacts.html" />
				</rule>

				<rule name="RewriteUserFriendlyCart" stopProcessing="true">
					<match url="^cart$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="cart.html" />
				</rule>

				<rule name="RewriteUserFriendlyLogin" stopProcessing="true">
					<match url="^login$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="login.html" />
				</rule>

				<rule name="RewriteUserFriendlyPersonal_area" stopProcessing="true">
					<match url="^personal_area$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="personal_area.html" />
				</rule>
				
				<rule name="RewriteUserFriendlyURLCatalog" stopProcessing="true">
					<match url="^catalog$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog.html" />
				</rule>
				
                <rule name="RewriteUserFriendlyURL1" stopProcessing="true">
                    <match url="^catalog/bolts$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="catalog/bolts.html" />
                </rule>
				<rule name="RewriteUserFriendlyURL1item" stopProcessing="true">
					<match url="^catalog/bolts/*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/bolts/[id].html" />
				</rule>
				
				<rule name="RewriteUserFriendlyURL2" stopProcessing="true">
					<match url="^catalog/screws$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/screws.html" />
				</rule>
				<rule name="RewriteUserFriendlyURL2item" stopProcessing="true">
					<match url="^catalog/screws/*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/screws/[id].html" />
				</rule>
				
				<rule name="RewriteUserFriendlyURL3" stopProcessing="true">
					<match url="^catalog/wares$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/wares.html" />
				</rule>
				<rule name="RewriteUserFriendlyURL3item" stopProcessing="true">
					<match url="^catalog/screwaresws/*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/wares/[id].html" />
				</rule>
				
				<rule name="RewriteUserFriendlyURL4" stopProcessing="true">
					<match url="^catalog/nuts$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/nuts.html" />
				</rule>
				<rule name="RewriteUserFriendlyURL4item" stopProcessing="true">
					<match url="^catalog/nuts/*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/nuts/[id].html" />
				</rule>
				
				<rule name="RewriteUserFriendlyURL5" stopProcessing="true">
					<match url="^catalog/anchors$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/anchors.html" />
				</rule>
				<rule name="RewriteUserFriendlyURL5item" stopProcessing="true">
					<match url="^catalog/anchors/*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/anchors/[id].html" />
				</rule>
				
				<rule name="RewriteUserFriendlyURL6" stopProcessing="true">
					<match url="^catalog/elements$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/elements.html" />
				</rule>
				<rule name="RewriteUserFriendlyURL6item" stopProcessing="true">
					<match url="^catalog/elements/*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/elements/[id].html" />
				</rule>
				
				<rule name="RewriteUserFriendlyURL7" stopProcessing="true">
					<match url="^catalog/washers$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/washers.html" />
				</rule>
				<rule name="RewriteUserFriendlyURL7item" stopProcessing="true">
					<match url="^catalog/washers/*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/washers/[id].html" />
				</rule>
				
				<rule name="RewriteUserFriendlyURL8" stopProcessing="true">
					<match url="^catalog/others_bolts$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/others_bolts.html" />
				</rule>
				<rule name="RewriteUserFriendlyURL8item" stopProcessing="true">
					<match url="^catalog/others_bolts/*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/others_bolts/[id].html" />
				</rule>
				
				<rule name="RewriteUserFriendlyURL9" stopProcessing="true">
					<match url="^catalog/others_wares$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/others_wares.html" />
				</rule>
				<rule name="RewriteUserFriendlyURL9item" stopProcessing="true">
					<match url="^catalog/others_wares/*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/others_wares/[id].html" />
				</rule>

		<rule name="RewriteUserFriendlyNewsItem" stopProcessing="true">
					<match url="^news/*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="news/[id].html" />
				</rule>
				

				
            </rules>
        </rewrite>
    </system.webServer>
</configuration>